include ../layouts/navbar

block content 
    .container
        .row
            .col-lg-4.mx-auto.pt-4
                .card
                    .card-header
                        .h3
                            |NuevaBicicleta

                    .card-body
                        form(action="/bicicleta/store",method="post") 
                            .form-group
                                label(for="id") Id:
                                input(type="text", name="id").form-control
                            .form-group
                                label(for="color") Color:
                                input(type="text", name="color").form-control
                            .form-group
                                label(for="modelo") Modelo:
                                input(type="text", name="modelo").form-control
                            .form-group
                                label(for="coordenadaX") CoordenadaX:
                                input(type="text", name="coordenadaX").form-control
                            .form-group
                                label(for="coordenadaY") CoordenadaY:
                                input(type="text", name="coordenadaY").form-control
                            .form-group
                                input(type="submit").btn.btn-primary.btn-block                                     
                                input(type="reset",value="Borrar Campos").btn.btn-info.btn-block                                     


include ../layouts/footer


